﻿
a
{
	text-decoration: none;
}
ul li
{
	list-style: none;
}



.menu
{
	float: left;
	width: 100%;
	height: 31px;
	margin-top: 5px;
	background-color: #428bca;
	font-size: 101%;
	position: relative;
}	
	
.menu ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 9999 !important;
}

.menu ul li
{
	display: inline;
	float: left;
	position: relative;
	line-height: 31px;
	z-index: 9999 !important;
}
.menu ul li a
{
	color:#000;
	display: block;
	font-size: 12px;
	line-height: 31px;
	padding: 0 13px;
	text-decoration: none;
}
.thumbnail
{
    display:inherit;
    position: relative;
    width: 100%;
    height:100%;
    background: url(../img/AUN_6.jpg) no-repeat ;
  /* -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
*/

}
body
{
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
	color: #2e2e2e;
	/*line-height: 18px;*/
	font-family: Tahoma, Geneva, sans-serif !important;
	width: 100%;
    height: 100%;
}
section
{
	margin-top: 15px;
	margin-bottom: 80px;
}
section .contaniner
{
	
	margin-left: 2px;
	padding: 0;
	float: left;
	width: 100%; /**margin-left: 2px;*/
	/*border-style: solid;
	border-width: thin;*/
	height:100%;
	
	/*border-color:Blue;*/
}
